.content {
    padding: 20px;
}

.table th, .table td {
    text-align: center;
}

.table th, .table td {
    text-align: center;
    vertical-align: middle;
    padding: 6px; 
    font-size: 15px;
}

.btn-action {   
    background-color: #ffc107 !important;
    color: black !important;
    border: none !important;
    font-size: 15px !important;
    padding: 4px 8px !important;
    border-radius: 5px !important;
    margin: 0 2px;
}

form {
    margin: 0 6px;
}

.input-search {
    width: 40% !important;
    border-radius: 4px;
    padding: 6px;
}