.logo-name {
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.user,
.notification {
    font-size: 2.5rem;
}

.user-name {
    margin-right: 1.2rem;
}

.user-future {
    margin-top: -6px;
}

.notification {
    margin-top: -6px;
}